.navbar-brand{
    margin-top: 5px;
}
#logo_me {
    width: 35px;
    margin-bottom: 5px;
    margin-left: 20px;
    background-color: gold !important;
    border-radius: 13px;
    padding: 8px;
}
#logo_name{
    margin-left: 15px;
    font-weight: bold;
}


.nav-item{
    margin: 0px 15px;
}
.nav-item a:hover{
    border: 2px solid black;
    background-color:black;
    border-radius:12px ;
    color: white !important;
}
.nav-item a {
    font-size: 18px;
    font-weight: bold;
}

/* nav bar ends hare  */

/* background img starts hare  */

.content::before{
    content: "";
    position: absolute;
    background:rgba(0,0,0,0.7) url(../img/background.webp) no-repeat center center/cover;
    background-blend-mode: darken;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    /* opacity: 0.7; */
    margin-top: 73px;
}

.content{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}
/* background img end hare  */

/* content starts from hare  */

.content h1{
  color: white;
}
.content p{
  color: white;
  margin-top: 15px;
}

.content button {
    background:rgb(255, 255, 199);
    margin-top: 40px;
    border-radius: 15px;
    font-weight: bold;
}
.content button:hover{
    background:rgb(84, 244, 255);
   
}
.content button a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

